img{
	max-width: 100%;
}

/* parent div */
.card{
	width: 300px;
	min-height: 100px;
	perspective: 3000px;
	border: 2px solid red;
}

/* child in 3d */
.card-holder{
	width: 300px;
	height: 300px;
	/* preserve-3d tells all child elements to tell their children, 'hey, this is 3d' */
	transform-style: preserve-3d;
	transition: all 1s;
	/* the children are going to have absolute position... just staying ahead */
	position: relative;
}

/* grandchildren inside of .card-holder */
.card-front, .card-back{
	position: absolute;
	top: 0;
	left: 0;
	/* If you can't see the front, you can't see anything... */
	backface-visibility: hidden;
}

/* Front card needs to be rotated so that it's face down */
.card-front{
	transform: rotateY(180deg);
}

.flip{
	transform: rotateY(-180deg);
}

/* Make the parent div obvious */
#parent{
	height: 200px;
	width: 200px;
	margin: 50px;
	padding: 10px;
	background-color: #dcdcdc;
	border: 1px solid black;
/* 	perspective gives the elements CHILDREN a 3d box to play inside of.
	Without it, the parent is flat and all transforms will be 2d */
	perspective: 200px;
}

#threeD,#threeD2, #threeD3{
	background-color: #00ff00;
	padding: 50px;
	border: 1px solid #ff00ff;
	transform: rotateX(45deg);
}

#threeD2{
	background-color: #ffff00;
	transform: rotateY(45deg);
}

#threeD3{
	background-color:  #0000ff;
	transform: rotateZ(45deg);
}